:root {
  --btn-duration-slow: 2s;
  --btn-duration-normal: 3s;
  --btn-duration-fast: 5s;
  --btn-default-color: #7cfc00;
  --btn-blue-color: #00bcd4;
  --btn-purple-color: #772aff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    gap: 1em;
}

h4 {
    font-size: 8px;
}

figure.container-bau {
  width: 35px;
  position: relative;
  top: 1em;
}

figure.container-bau img{
    width: 100%;
}

figure.container-img {
    width: 110px;
}

p.paragraph {
    position: relative;
    top: 0.5em;
    font-weight: 700;
    font-size: 15px;
}

p.paragraph span {
    position: relative;
    top: 0.2em;
}



.neon-block .block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 145px;
  height: 125px;
  background: linear-gradient(45deg, #272325 40%, #020104);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: monospace;
  padding: 0.5em;
  flex-direction: column;
}
.neon-block .block:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(45deg, #ff005e, #fbff00);
  animation: neon-block 1.5s linear infinite;
}
.neon-block .block .rainbow {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  filter: blur(15px);
  z-index: -2;
}
.neon-block .block .rainbow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(315deg, #ff005e, #fbff00);
}
.neon-block .block .rainbow:after {
  animation: neon-block 1.5s linear infinite;
}

@keyframes neon-block {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
