.loginMobile .ijGcaB>div {
    background-color: RGB(33,33,33) !important;
}


.style__Bonus-sc-1nhmslw-8 span {
    color: #ffe418 !important
}

.cxDhSn .payment__iframe-container .payment__iframe-close path {
    fill: #52c41a !important;
}

.mainRow #column2696 #3449 {
    margin: 0px !important;
    margin-top: 10px !important;
}

.mainRow #column2696 .article-item .article-item-footer {
    margin: 0px !important;
    margin-bottom: 10px !important;
}

.mainRow #column2696 .article-item {
    padding: 0px !important;
    min-width: auto !important;
}

.mainRow #column2696 .article-item .article-item-image {
    margin: 0px !important;
}

.mainRow #column2696 {
    padding: 0px 0px 0px 8px !important;
}

.mainRow #column2696 .style__ScrollArea-sc-1l61865-0 {
    padding: 0px !important;
}

#r1814 .events-time-filter {
    display: none !important;
}

#r1814 #m3434 {
    padding: 0px 8px 0px 0px !important;
}

#r1814 .sportsList {
    padding: 8px 8px 8px 0px !important;
}

.sportsList {
    background-color: #484848 !important;
}

.sportsList .sportsList__sport {
    background-color: #585858 !important;
}

.mobile .loginMobile>div:first-child {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

.mobile .x-casinoGameSingleView__gameContainer__gameInfo__rightBlock .v3-icon {
    background-color: var(--acc-c1-text-color_lighter);
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

.mobile .x-casinoGameSingleView__gameContainer__gameInfo__centerBlock {
    display: none !important;
}

.mobile .x-casinoGameSingleView__gameContainer__gameInfo__rightBlock {
    z-index: 1;
    margin: 10px;
    margin-top: 45px;
}

.mobile .x-casinoGameSingleView__gameContainer__iframeContainer {
    position: fixed !important;
}

.mobile .x-casinoGameSingleView__gameContainer__gameInfo {
    padding: 1px !important;
    z-index: 1;
}

.mobile .x-casinoGameSingleView__gameContainer {
    padding: 1px 0px !important;
}

.style__SportMenuWrapper-sc-1ww46zm-1 .glCkhY:not(:hover) svg path,
.style__CarouselWrapper-sc-1on20i7-0 .cbPYGK:not(:hover) svg path , 
.desktop .style__CarouselWrapper-sc-1on20i7-0 .faMrax:not(:hover) svg path ,
.MobileSportsbook__Container-sc-1ma3g0p-0 .fWnuHQ:not(:hover) svg path {
    fill: var(--acc-c1-text-color_light);
}

.style__SportMenuWrapper-sc-1ww46zm-1 .glCkhY:not(:hover) svg path:first-child ,
.style__CarouselWrapper-sc-1on20i7-0 .cbPYGK:not(:hover) svg path:first-child , 
.desktop .style__CarouselWrapper-sc-1on20i7-0 .faMrax:not(:hover) svg path:first-child ,
.MobileSportsbook__Container-sc-1ma3g0p-0 .fWnuHQ:not(:hover) svg path:first-child {
    fill: #9a9a9a;;
}

.mobile .evIVGu {
    margin-bottom: 15px !important;
}

.mobile .am-flexbox .style__RadioButton-sc-3ucvic-2 {
    justify-content: center;
}

#column2346 {
    margin-top: 0px !important;
}

.mobile .isNUXJ {
    position: absolute;
    top: 28px;
}

#column2252>div{
    margin-top: 0px !important;
}

.czBYkq {
    text-align: initial !important;
}

.desktop .searchBar-wrapper--result {
    z-index: 9;
    width: 100%;
    left: 0;
    background-color: var(--v3-black-0);
    height: auto !important;
    overflow: auto;
    box-shadow: var(--v3-shadow-1-down);
    padding-bottom: 1px!important;
    padding-top: 0px;
    border-radius: 4px !important;
}

.searchBar-container .fcChHj:hover .style__ButtonsWrapper-sc-a9ikb3-0 {
    opacity: 1;
    width: 100% !important;
    height: 100% !important;
    padding-left: 50% !important;
    padding-right: 5px !important;
    background-color: rgb(0,0,0,0.5) !important;
    border-radius: 4px !important;
}

.fcChHj {
    padding: 10px 10px !important;
    border: 0px solid var(--v3-black-6) !important;
    border-radius: 4px  !important;
    margin-bottom: 2px  !important;
    background-color: var(--ageofempires-background-color);
}

.style__FunMode-sc-a9ikb3-2 button {
    background-color: #ac3cef !important;
    color: #FFF !important;
    border: 0px solid #ac3cef;
    height: 40px;
}

.style__FunMode-sc-a9ikb3-2 button:hover {
    background-color: #8f32c8 !important;
}

.v3-btn-ghost {
    background-color: #ac3cef !important;
    border: 1px solid #ac3cef !important;
}

.v3-btn-ghost:hover {
    background-color: #8f32c8 !important;
}

.v3-btn-ghost span {
    color: #FFF !important;
}

.v3-btn-ghost span:hover {
    color: #FFF !important;
}

.dpOJAN {
    color: #FFF !important;
    background-color: #803bbc !important;
}

#bottom-navigation > div:nth-child(4) {
    background-color: #13d140;
    border-radius: 50%;
    width: 120px !important;
    height: 95px;
    justify-content: center;
    display: flex;
}

#bottom-navigation > div:nth-child(4) .clUxon {
    color: #FFF !important;
}

.sportsList {
    background-color: #585858; 
}

.bUyfBk {
    display: none;
}

html {
    overflow-x: hidden;
}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
}

.contentBarMobile .categoriesHorizontalMobile__container {
    background: none !important;
}

#column2973,
#column2818,
#column2195 {
    padding-top: 0 !important;
}

.gJFfSZ .dBHMOr,
div.v3-col > button.eWvBFy > div:nth-child(2),
.ivEUcZ span,
button.eWvBFy span:nth-child(2) {
    color: #ffe418 !important;
}

.categoriesVertical__wrapper,
.contentFilter .kZdFdP,
.v3-select-selector {
    background-color: #494949 !important;
}

.categoriesVertical__item__count {
    display: none !important;
}

.uc-row.sportBookSlider {
    width: 57vw;
    margin: 0 auto;
    z-index: 5 !important;
}

.betSlider img {
    width: 100%;
    height: 100%;
}

.style__EventsTitle-sc-1ww46zm-4 {
    display: none;
}

.style__LiveEvents-sc-1ww46zm-2 {
    background-color: #2b2b2b !important;
}

.mobile [data-widget=Events] {
    min-height: unset !important;
}

.mobile #navigation-3624 li.page>a:hover {
    color: #FFFFFF !important;
}

.mobile #navigation-3624 li.page>a {
    color: #959595 !important;
}

.mobile #navigation-3624 li.active>a {
    color: #FFFFFF !important;
}

#column150 {
    margin-top: -57px;
}

#column2346 {
    margin-top: 6px;
}

#column2386 {
    margin-top: -16px;
}

.headerFixMobile .ModuleWidgets .navigatorHeaderWhite .style__BurgerMenuWrapper-sc-zw0hm-0 path {
    fill: white;
}

.article-item-info,
.article-item-tags-container,
.article-item-category {
    display: none;
}

.footer100 {
    z-index: 9;
}

.nav-footer {
    text-decoration: none;
    list-style: none;
    text-align: justify;
    line-height: 1.8em;
}

ul.nav-footer li a {
    color: #585858;
}

ul.nav-footer li a:hover {
    color: #13d140;
}

.footer {
    background-color: #212121;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 235px;
    -webkit-transition: height 1s, visibility 1s;
    transition: height 1s, visibility 1s;
}

.footerbuttondown {
    background-color: #212121;
    color: #14b73b;
    font-size: 10px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -18px;
    visibility: hidden;
    cursor: pointer;
}

.footerbuttonup {
    background-color: #212121;
    color: #14b73b;
    font-size: 10px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -7px;
    cursor: pointer;
}

.footercont {
    position: absolute;
    top: 0px;
    opacity: 1;
    transition: opacity 1s, visibility 2s, display 2s;

}

.centerbutton {
    cursor: pointer;
    align: center;
    width: 100%;
    content-align: center;
}

p.text-footer {
    margin-top: 1.5em;
    text-align: center;
    color: #fff;
}

p.text-footer span {
    color: #14b73b;
}

.footer-container {
    margin: 0.5em 0em;
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
}

.footer-container h2 {
    color: #fff;
    font-size: 18px;
}

.footer-container figure {
    width: 70px;
}

.footer-container figure img {
    width: 100%;
}

.e-100>div:first-child>div:first-child {
    height: 250% !important;
}

.btn-none {
    position: relative;
    top: 2px;
}

.articlePromocoes .mainRow {
    background-color: var(--acc-c2-text-color_light);
    border-radius: 5px;
    border: 3px solid var(--acc-c2-text-color);
}

.articlePromocoes {
    margin-top: 70px;
}

.midiaMobileBet .nextEventsBet>div:first-child {
    min-height: initial !important;
}

.midiaMobileBet div.style__EventsWrapper-sc-1ww46zm-0>div:last-child>div:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.midiaMobileBet {
    top: -8px;
}

.mobile .nextEventsBet .style__LiveEvents-sc-1ww46zm-2 div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.articlePromocoes .article-item-image {
    position: initial !important;
    max-width: none !important;
    padding: unset !important;
    border-radius: 0px !important;
    background: var(--acc-c1-text-color) !important;
    left: 0vw !important;
}

.juRvAq span,
.igilWx span,
.lprjrX span,
.gxnJvB span,
.llyRTC span,
.knGQoQ span {
    color: #FFF !important;
}

.desktop #m3014 .article-item-image {
    position: fixed;
    max-width: 28vw;
    padding: 5px;
    border-radius: 4px;
    background: var(--acc-c1-text-color);
    left: 5vw;
}

.mobile .sandwichNavigator {
    overflow-x: scroll !important;
}

.mobile .sandwichNavigator::-webkit-scrollbar {
    display: none;
}

.mobile .ModuleNavigation .navigation>li {
    width: 26vw;
    margin-bottom: 0px !important;
}

.mobile .ModuleNavigation .navigation {
    display:inline-flex !important;
    flex-wrap: nowrap !important;
    margin: 10px 0px;
}

.mobile .navigation-inner .standard-view {
    display: block !important;
}

.mobile .ModuleNavigation .navigation .nav-item {
    color: #FFF !important;
    width: 100% !important;
}

button.czyrAX span {
    color: #ffe418 !important;
}

button.czyrAX span:first-child {
    color: #fff !important;
}

.mobile .betslip-popup {
    height: calc(100% - 48px);
    margin-top: 48px;
}

.mobile .sandwichMenu span.v3-icon {
    margin: 0px 20px;
    display: initial !important;
}

.mobile #bottom-navigation .gSnjmI {
    font-size: 11px;
    text-align: center;
}

.burger-menu-drawer {
    z-index: 11 !important;
}

.mobile #bottom-navigation .eruTRg {
    width: 25%;
}

.mobile .ModuleSlider .image {
    max-width: fit-content !important;
    transform: translateX(0px) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #494949!important;
}

.footer {
    font-family: 'Poppins' !important;
}

.desktop .ModuleArticleSingle {
    margin-left: calc(50% - 14vw);
    min-width: 64%;
    margin-top: calc(100px - 2vw);
    padding: 10px;
    border-radius: 4px;
    background-color: var(--acc-c1-text-color);
}

.mobile .ModuleArticleSingle {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--acc-c1-text-color);
}

.articlePromocoes .article-item-container .article-item-footer,
.articlePromocoes .article-item-container .article-item-image {
    margin: 0px !important;
}

.articlePromocoes .article-item-container {
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
    position: relative;
    display: block;
    background-color: #fff;
    border: 2px solid #ccc;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
}

.articlePromocoes .article-item-container:hover {
    border: 2px solid #fff;
    box-shadow: 0 0px 10px 3px rgb(98 255 4 / 60%);
}

.contentSidebar .categoriesVertical__wrapper {
    overflow-y: scroll !important;
    height: 82vh;
}

.x-casinoGamesByCategories__categoryName__viewAll:hover {
    color: var(--c6_dark) !important;
    font-weight: 400 !important;
    font-size: 13px !important;
}

.x-casinoGamesByCategories__categoryName__viewAll {
    color: var(--c6) !important;
    font-weight: 400 !important;
    font-size: 13px !important;
}

.x-casinoGamesByCategories__categoryName {
    font-size: 22px !important;
    font-weight: 400 !important;
}

.ModuleNavigation .navigation>li>a {
    font-size: calc(28% + 1vh) !important;
}

.x-casinoGameCardDesktop,
.x-casinoGameCardMobile {
    border-radius: 8px;
    background: #212121;
}

.x-casinoGamesByCategories {
    border-radius: 4px;
    border: 1px solid var(--c12);
    background-color: #494949 !important;
    padding: 5px;
    margin-bottom: 10px;
}

.contentBarMobile .mainRow div:first-child {
    overflow-x: initial;
}

.contentFilterOnly {
    z-index: 1;
}

.loginDesk button.v3-btn-primary {
    height: 32px !important;
    border-radius: 4px !important;
}

.ModuleLanguageSwitcher {
    margin-right: 10px;
}

.ModuleLanguageSwitcher .languages:only-child {
    justify-content: center !important;
}


.liveDesk {
    margin-top: 3% !important;
}

.contentSidebar .categoriesVertical__wrapper {
    border-radius: 4px !important;
    border: 1px solid rgb(157, 157, 157) !important;
}

.contentFilter {
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 133px;
    width: calc(1334px + 1vh);
}

.main-rows {
    background-color: #494949 !important;
}

.iPCuNV {
    background-color: #808080 !important;
}

.hkDGYM,
.kUcBju,
.profileInfo__circleButton {
    background-color: #212121 !important; 
}

.x-casinoGameCardDesktop__buttons button {
    height: 32px !important;

}

.x-button--fun span:hover {
    color: #FFF !important;
}

.x-button--fun span {
    color: #FFF !important;
}

.x-button--fun {
    background-color: #ac3cef !important;
}

.x-button--fun:hover {
    background-color: #8f32c8 !important;
}

.x-casinoGameCardDesktop__buttons__btnReal {
    margin: initial !important;
}

.desktop .main-layout .header-and-main-rows>.header-rows .header-row-wrapper:last-child .header-row {
    height: 45px;
}

.contentSidebar .categoriesVertical__wrapper {
    margin-left: 0px !important;
}

.dWejLn {
    height: 90px !important;
}

.searchCasino .searchBar-wrapper:first-child div:first-child div:first- child:hover {
    border: 0px solid var(--c6);
}

.searchCasino .searchBar-wrapper:first-child div:first-child div:first-child {
    border-radius: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    border: 0px solid rgb(157, 157, 157);
}

.searchCasino .searchBar-wrapper:first-child div:first-child:hover {
    border: 1px solid var(--c6);
}

.searchCasino .searchBar-wrapper:first-child div:first-child {
    border-radius: 4px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid rgb(157, 157, 157);
    background-color: #494949 !important;
}

.searchCasino .searchBar-wrapper:first-child div:first-child input {
    background-color: #494949 !important;
}

.filterButton {
    padding-left: 5px;
    padding-right: 5px;
}

.navigatorMobile div.icon {
    margin-right: 20px !important;
}

#r500 {
    height: 0px !important;
    display: none !important;
}

.headerFixDesk {
    position: fixed !important;
    height: 60px;
    margin-top: 45px;
    width: 100%;
    z-index: 10;
    top: 0px !important;
    background-color: #212121 !important;
}

.loginDesk {
    margin: -1px 20px 5px 0px;
    z-index: 4;
}

.logoHeaderDesk {
    margin: 0px 0px 0px 20px;
}

.desktop .main-rows {
    margin-top: 60px !important;
}

.header2 li {
    border-bottom: 2px solid rgba(255, 100, 100, 0);
}

.header2 li.page.active {
    border-bottom: 2px solid #13cf3f;
}

.header2 li.page.active>a:hover {
    color: rgb(255, 255, 255) !important;
}

.bUyfBk {
    color: #fff !important;
    background-color: #737373 !important;
}

.dwtrfN,
span.iPCuNV {
    color: #ffe418 !important;
}

.footer-rows {
    margin-top: 2em;
}

.contentSidebar div.affix-column {
    top: 108px !important;
}

.contentSidebar div.affix {
    top: -66px !important;
}

.kHCJcK span,
.jujKAS span {
    color: #fff !important;
}

.categoryDisplayNone {
    display: none;
}

.contentFilter div.row-container:first-child {
    width: 100% !important;
}

.contentFilter div.mainRow div.column {
    padding-left: 5px;
    padding-right: 5px;
}

.header-and-main-rows {
    min-height: 150%
}

.v3-btn-primary {
    color: #212121 !important;
    height: 40px !important;
    margin-top: auto;
    margin-bottom: auto;
}

.virtuaisDesk {
    top: 13px !important;
}

.horizontalMenu__menu {
    height: 32px !important;
}

.promotionDesk {
    top: 15px
}

/*
.img {
    z-index: 1 !important;
    position: relative;
    top: .7em;
}
.sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
    position: absolute;
    width: 56.85vw;
    height: 15.5em !important;
    margin: 0 auto !important;
    top: -0.8em;
}
*/

.contentFilter div:first-child {
    margin-left: initial;
    margin-right: initial;
}

.mobile .acFpd {
    padding-right: 46% !important;
}

.mobile .TPHqt {
    padding-right: 50%;
}

.mobile .match-card__container .am-flexbox {
    width: 47%;
    float: right;
    margin-top: -47px;
    height: 45px;
}

.mobile .MobileSportsbook__Container-sc-1ma3g0p-0 .liveGame__wrapper .heuTDP,
.mobile .am-flexbox .heuTDP {
    margin-top: -81px;
    position: absolute;
    width: 50px;
    text-align: center;
    color: #fff;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    overflow: initial !important;
}

.jujKAS,
.edOIQa { 
    justify-content: center !important;
}

.lazyLoad__wrapper .liveGame__wrapper {
    --container-height: none !important;
}

.style__Wrapper-sc-vig7k4-3 .statistics {
    display: none !important;
}

.eyBvPA {
    width: 100%;
}

#r1814 {
    padding: 8px;
}

.mobile .ModuleSbSelectedSportGames>div {
    height: auto !important;
}

.mobile .sportsMobile .slider-wrapper,
.mobile .cassinoMobile .slider-wrapper {
    padding-top: 45.25% !important;
}

.mobile #bottom-navigation .v3-icon {
    margin-bottom: 10px;
}

.mobile #bottom-navigation .v3-icon>img{
    width: 35px !important;
}

.mobile #bottom-navigation .gSnjmI {
    font-size: 10px !important;
}

@media screen and (min-width: 3000px) {
    /*
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        width: 58vw !important;
        height: 30em;
    }
    .prema>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
        top: 31em !important;
    }
    #r1530 {
        margin-left: 21%;
    }
    */
}

/*
@media screen and (min-width: 2850px) {
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        width: 57vw;
        height: 30em !important;
    }
    .prema>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
        top: 23.5em !important;
    }
}
*/

/*
@media screen and (min-width: 2450px) {
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        width: 57vw;
        height: 30em !important;
    }
    .prema>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
        top: 21em;
    }
}
*/

@media screen and (min-width: 2120px) {
    /*
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        width: 57vw;
        height: 30em !important;
    }
    .prema>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
        top: 19.5em;
    }*/

    .footercont {
        width: 100vw;
    }
}


@media screen and (max-width: 1800px) {
    /*
    .virtuaisDesk {
        top: 5px !important;
    }
    .prema>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
        top: 5em;
    }
    .prema.module.ModuleWidgets.uc-animation.fadeIn.active {
        top: 9em;
    }
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        top: 2.5em !important;
        width: 56.7vw;
    }
    .main,
    .liveDesk {
        top: 1.7em !important;
    }
    */

    .contentFilter {
        height: 48px !important;
    }

    .r1442 ul li img {
        width: 10px;
    }
}

.contentSidebar .categoriesHorizontalMobile__container {
    border-radius: 4px !important;
    border: 1px solid rgb(157, 157, 157) !important;
}

.loginMobile button.v3-btn-primary {
    height: 32px !important;
    border-radius: 4px !important;
}

.loginMobile {
    margin: -1px 20px 5px 0px;
    right: 10px;
    z-index: 1;
}

.contentFilter.hNmifn #search-input-bart {
    background-color: #494949 !important;
}

.desktop .headerFixNavigator {
    MARGIN-LEFT: 20px !important;
}

@media screen and (max-width: 1600px) {
    /*
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        top: 3em !important;
        height: 16em !important;
        width: 56.7vw;
    }
    */

    .virtuaisDesk {
        top: 21px !important;
    }
 
    #r1814 {
        top: 0.2em;
    }

    /*
    .main,
    .liveDesk {
        top: 2.6em !important;
    }
    */

    .contentFilter {
        height: 50px !important;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        left: 101px;
        width: calc(1000px + 1vh);
    }

}

@media screen and (max-width: 1464px) {
    /*
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        top: 3em !important;
        height: 16.6em !important;
        width: 56.7vw;
    }
    */

    #r1814 {
        padding: 8px;
        top: 0.3em;
    }
}

@media screen and (max-width: 1313px) {
    /*
    .main,
    .liveDesk {
        top: 3em !important;
    }
    .sportBookSlider .ModuleSlider .slider-wrapper .slider-container {
        top: 3.5em !important;
        height: 16.9em !important;
        width: 56.7vw;
    }
    .prema>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
        top: 11.7em;
    }
    */

    #r1814 {
        padding: 8px;
        top: 0.3em;
    }
}

@media screen and (max-width: 1285px) {

    .virtuaisDesk {
        top: 30px !important;
    }

    .contentFilter {
        height: 53px !important;
    }

    #r1814 {
        padding: 8px;
        top: 0.3em;
    }
}

@media screen and (max-width: 1158px) {
    #r1814 {
        padding: 8px;
        top: 0.3em;
    }

    
}

@media screen and (max-width: 780px) {

    p.text-footer {
        padding: 10px 5px;
    }
    
    .footer-container {
        margin: 0.5em 0em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .figure-footer {
        position: relative;
        left: 0.5em;
    }
    
    .footer-container .logo-footer figure {
        width: 70px;
        position: relative;
        left: 1em;
    }
    
    .nav-footer {
        text-align: center;
        position: relative;
        right: 1em;
        margin-top: 1em;
    }
}


#navigation-3236 {
    margin-left: 20px;
}

#navigation-3553 {
    margin-right: 20px;
}